/* Variables
---------------------------------------------------------------------- */

$color-background: #FFF;

$font-family-main: 'asap',sans-serif;
$font-size-main: 16px;

$app-height: 400px;

$output-max-height: 372px;
